body {
    background-color: purple;
    display: block;
      }

h1 {
    color: white;
    margin-left: 1%;
    font: small-caps bold 6vw/1 sans-serif;
    }

.row{
    width:80%;
}

.btn{
    margin-right: 7.5%;
    margin-left:2.5%;
    margin-top: 5%;
    padding: 2% 4%;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media only screen and (max-width: 768px) {
    h1 {
        color: white;
        margin-left: 1%;
        font: small-caps bold 15vw/1 sans-serif;
        }

        .btn{
            margin-right: 7.5%;
            margin-left:5%;
            margin-top: 5%;
            padding: 2% 4%;
        }
}